body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #ffccff, #ff99cc);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3em;
    color: #ff66ff;
}

button {
    background-color: #ff66ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #cc33cc;
}

#fortune {
    font-size: 1.5em;
    color: #660066;
    margin-top: 20px;
}

.hidden {
    display: none;
}
