/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2d0052; /* Fioletowe tło */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #ff00ff;
}

.magic-ball {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, #ff00ff, #2d0052);
    border-radius: 50%;
    box-shadow: 0 0 20px #ff00ff;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.magic-ball:hover {
    transform: scale(1.1);
}

.fortune {
    margin-top: 20px;
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0;
    transition: opacity 0.3s ease;
}


/* Animacja wchodzenia tekstu z dołu */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fortune {
    margin-top: 20px;
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fortune.show {
    animation: fadeInUp 0.5s ease forwards; /* Animacja wchodzenia */
}
